   .navcolor{
      background-color:#FF9933;}
      body{margin-left:5%;
            margin-right:5%;
            margin-top:2px;
           
            }
     .li{margin-left:2px;}
     #slider {
		max-width: 1350px;
		margin: 0 0;
	}